html,
body {
  margin: 0px;
  padding: 3px 0px 0px 2px;
}

canvas {
  width: 96vw;
  height: 90vh;
  border: 5px solid black;
  border-radius: 5px;
}

body {
  display: block;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

button {
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  margin: 0;
  padding: 2px;
  border-radius: 3px;
  display: inline-block;
}